CLIENT_GATEWAY_PORT=


PAYMENTS_MS_PORT=
AUTH_MS_PORT=

STRIPE_SECRET=

STRIPE_SUCCESS_URL=http://localhost:3003/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/payments/cancel

STRIPE_ENDPOINT_SECRET=

AUTH_DATABASE_URL=